<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
    	<servlet-name>registerAction</servlet-name>
  		<servlet-class>com.mavenProject.registerAction</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>registerAction</servlet-name>
  		<url-pattern>/registerAction</url-pattern>
  	</servlet-mapping>
  	<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/404.jsp</location>
    </error-page>
</web-app>